<h1>DBC Sinatra Overflow!!</h1>

<div class="container">
  <h1>What do you want to do?</h1>
  <h2><a href="/users/new">Register</a></h2>
  <h2><a href="/sessions/new">Log in</a></h2>
</div>


<header>
  <h1>DBC Sinatra Overflow</h1>
  <p>
    <a href="#posts">new</a>
    <a href="#">comments</a>
    <a href="#">vote</a>
    <a href="#">login</a>
  </p>
</header>

<!-- below is breaking code for some reason -->
